PORT=4000
NODE_ENV=development

# TiDB Cloud / MySQL connection
DB_HOST=gateway01.us-east-1.prod.aws.tidbcloud.com
DB_PORT=3306
DB_USER=your_tidb_prefix.root
DB_PASSWORD=your_tidb_password
DB_NAME=liba_db

# JWT secret (cualquier cadena larga y aleatoria)
JWT_SECRET=your-secret-key-here
