<header style="padding:1rem; border-bottom:1px solid #eaeaea; display:flex; justify-content:space-between; align-items:center;">
  <div style="font-weight:600">app-lab</div>
  <nav>
  <ng-container *ngIf="!user()">
      <a routerLink="/login" style="margin-right:1rem">Login</a>
      <a routerLink="/register">Register</a>
    </ng-container>
  <ng-container *ngIf="user()">
      <a routerLink="/dashboard" style="margin-right:1rem">Dashboard</a>
      <a routerLink="/solicitudes" style="margin-right:1rem">Solicitudes</a>
      <a routerLink="/reactivos" style="margin-right:1rem">Reactivos</a>
      <span style="margin-right:1rem">Hola, {{ user()?.email }}</span>
      <button (click)="logout()">Salir de la cuenta</button>
    </ng-container>
  </nav>
</header>

<main style="padding:1rem;">
  <router-outlet></router-outlet>
</main>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
